<footer [ngClass]="{'footer-dark': isDarkFooter}">
  <div class="container">
    <div class="footer-logo">
      <img src="/assets/img/footer-logo.png">
    </div>
    <div  class="footer-text row">
      <div *ngIf="(this.service.contactInfoOfFooter[this.activeLocationId])" class="col-md-4">
        <p class="footer-name">Adrenaline Entertainment Centers
          CORPORATE HEADQUARTERS</p>
        <p class="footer-contact"><img src="/assets/img/icon-loc.png">{{this.service.contactInfoOfFooter[this.activeLocationId].address_street}}</p>
        <p class="footer-contact-add-line">{{this.service.contactInfoOfFooter[this.activeLocationId].address_city}}, {{this.service.contactInfoOfFooter[this.activeLocationId].address_state}} {{this.service.contactInfoOfFooter[this.activeLocationId].address_zip}}</p>
        <p class="footer-contact"><img src="/assets/img/icon-phone.png">{{this.service.contactInfoOfFooter[this.activeLocationId].phone}}</p>
        <p *ngIf="this.service.footerEmail[this.activeLocationId]" class="footer-contact"><img src="/assets/img/icon-email.png">{{ this.service.footerEmail[this.activeLocationId].email }}</p>
      </div>
      <div *ngIf="!activeLocationId" class="col-md-2 text-center custom-footer-menu">
        <a routerLink="/" class="dropdown-item" routerLinkActive="active">Home</a>
        <a routerLink="trampoline-park" routerLinkActive="active" class="dropdown-item" >Trampoline park</a>
        <a routerLink="trampoline-parties" routerLinkActive="active" class="dropdown-item" >Parties</a>
        <a routerLink="escape-room" routerLinkActive="active" class="dropdown-item" >Escape room</a>
      </div>
      <div *ngIf="activeLocationId" class="col-md-2 text-center custom-footer-menu">
        <a routerLink="{{activeLocationId}}/trampoline-park/" class="dropdown-item" routerLinkActive="active">Home</a>
        <a routerLink="{{activeLocationId}}/trampoline-park/buy-a-pass/" routerLinkActive="active" class="dropdown-item" >Trampoline park</a>
        <a routerLink="{{activeLocationId}}/trampoline-park/birthday-parties/" routerLinkActive="active" class="dropdown-item" >Parties</a>
        <a routerLink="{{activeLocationId}}/about/contact/" routerLinkActive="active" class="dropdown-item" >Contact</a>
      </div>
      <div class="col-md-2">
        <p>lorem ad astra</p>
        <p>dolor elit</p>
        <p>consectetuer</p>
        <p>ipsum per</p>
        <p>dura lex</p>
      </div>
      <div class="col-md-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales tortor quis ante porta
          venenatis. Suspendisse sollicitudin, dolor sed dignissim bibendum, sapien sem laoreet arcu, non mollis
          neque odio porttitor purus.</p>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="container">
    <div class="row">
      <div *ngIf="(this.service.contactInfoOfFooter[this.activeLocationId])" class="col-md-6 col-sm-12 col-xs-12" >
        <ul  class="list-inline text-lg-right text-sm-center social_icons circle cus-cent">
          <li *ngIf="this.service.infSocialOfFooterFacebook[this.activeLocationId]" class="list-inline-item facebook">
            <a  href="{{this.service.infSocialOfFooterFacebook[this.activeLocationId].url}}" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li *ngIf="this.service.infSocialOfFooterTwitter[this.activeLocationId]" class="list-inline-item twitter">
            <a href="{{this.service.infSocialOfFooterTwitter[this.activeLocationId].url}}" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li *ngIf="this.service.infSocialOfFooterInstagram[this.activeLocationId]" class="list-inline-item instagram">
            <a href="{{this.service.infSocialOfFooterInstagram[this.activeLocationId].url}}" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li *ngIf="this.service.infSocialOfFooterGoogle[this.activeLocationId]" class="list-inline-item youtube">
            <a href="{{this.service.infSocialOfFooterGoogle[this.activeLocationId].url}}" target="_blank">
              <i class="fa fa-google-plus"></i>
            </a>
            <p color="white">
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 ">
        <p class="cus-cent" >Adrenaline Entertainment Centers © 2018</p>
      </div>
    </div>
  </div>
</div>
