<section class="contact-locations pv-80">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="green_up text-uppercase text-center mt-80"> Contact us</h1>
      </div>
    </div>
    <form class="mt-120 form_contact" method="post" action="/">
      <div class="form-row">
        <div class="form-group col-md-4">
          <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" placeholder="Email">
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" placeholder="Phone">
        </div>
      </div>
      <div class="form-row mt-80">
        <div class="form-group col-md-12">
          <label>Message</label>
          <textarea class="form-control"  rows="3"></textarea>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-group col-md-3">
          <button class="btn contact_form_btn mt-30">Submit</button>
        </div>
      </div>
    </form>
  </div>
</section>

<section *ngIf="this.activeLocationId" class="contact-map ">
      <div *ngIf="this.service.contactInfoOfFooter[this.activeLocationId]" class="map_desc">
        <h2  class="green_up">{{this.service.contactInfoOfFooter[this.activeLocationId].address_city}}</h2>
        <p class="footer-contact"><img src="/assets/img/icon-loc.png">{{this.service.contactInfoOfFooter[this.activeLocationId].address_street}}</p>
        <p class="footer-contact-add-line">{{this.service.contactInfoOfFooter[this.activeLocationId].address_city}}, {{this.service.contactInfoOfFooter[this.activeLocationId].address_state}} {{this.service.contactInfoOfFooter[this.activeLocationId].address_zip}}</p>
        <p class="footer-contact"><img src="/assets/img/icon-phone.png">{{this.service.contactInfoOfFooter[this.activeLocationId].phone}}</p>
        <p class="footer-contact"><img src="/assets/img/icon-email.png">lakeworth@adrenalime.com</p>
      </div>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3566.926051073305!2d-80.16874348443088!3d26.618816983254952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!3m2!1sru!2sua!4v1521097245125" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>

</section>
