<section class="waiver-block-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm col-lg-6 waiver-desc_slider">
            <div class="row justify-content-end">
              <div class="col col-lg-9 p-0">
                <h1>waiver</h1>
                <p>BOOKED AND READY TO GO? SIGN YOUR WAIVER TODAY SO YOU CAN HIT THE PARK JUMPING WHEN YOU GET HERE!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="waiver-block-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>already got your tickets?</h1>
        <p>Well don’t forget to sign a waiver! Every jumper must sign a waiver to be allowed to jump.
          <br>If you are younger than 18, then you need to have your waiver signed by a parent or guardian.
          Sign it now so that you don’t waste any time when you get here.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="waiver-block-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 waiver-desc_slider_button">
        <h1>SAVE TIME, SIGN ONLINE</h1>
        <button type="button" *ngIf="this.service.allLinksCenteredge_waiver[this.activeLocationId]" (click)="goToWaiver()" class="btn btn-outline-success btn-block"  style="max-width: 360px">sign a waiver</button>



      </div>
    </div>
  </div>
</section>
