<ul id="slides">
  <li class="slide showing" *ngIf="availableSlides.indexOf('trampoline') !== -1">
    <div trampolinePane class="block-one">
      <div class="container">
        <div class="desc_slider">
          <h3>TRAMPOLINE PARK COMING TO {{currentCity.name}}</h3>
          <h1>MAY 2018</h1>
          <button type="button">Coming Soon</button>
        </div>
      </div>
    </div>
  </li>

  <li class="slide" *ngIf="availableSlides.indexOf('escape') !== -1">
    <div class="block-two" escapePane>
      <div class="container">
        <div class="desc_slider gold">
          <h3>ESCAPE ROOMS COMING TO {{currentCity.name}}</h3>
          <h1>MAY 2018</h1>
          <button type="button">Coming Soon</button>
        </div>
      </div>
    </div>
  </li>

  <li class="slide" *ngIf="availableSlides.indexOf('vr') !== -1">
    <div class="block-three" virtualPane>
      <div class="container">
        <div class="desc_slider gold">
          <h3>VIRTUAL REALITY ROOMS COMING TO {{currentCity.name}}</h3>
          <h1>MAY 2018</h1>
          <button type="button">Coming Soon</button>
        </div>
      </div>
    </div>
  </li>
</ul>


<div  class="homepage-gaiety coming-soon-email">
    <div  class="homepage-block-blackout pv-40">

        <div class="container h-100">
            <div class="row h-100 justify-content-center">
                <div class="col">
                    <p>Enter your phone number below</p>
                    <p>and get notified about Adrenaline Entertainment Centers</p>
                    <p>launch events and promotions.</p>
                  <div *ngIf="this.validation_msg" class="alert" style="background-color: #00000000; color: rgb(146, 221, 2);" >
                    <strong>Success!</strong> your message was sent successfully
                  </div>
                    <form id="coming-soon-form" class="form-inline justify-content-center coming-soon-form" >
                        <div class="col-md-6">
                            <input type="tel" class="form-control" #userPhone placeholder="Your Phone">
                        </div>
                        <div class="col-md-3">
                            <button (click)="sendPostComing(this.service.getIdByName(this.activeLocationId), userPhone.value)" type="reset" >subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
