<app-main-slider [activePane]="isLeftVisible==0 ? 'trampoline' : isLeftVisible==1 ? 'escape': 'virtual'" class="mob_slider">

    <div trampolinePane class="block-one">

        <div class="container">
            <div class="desc_slider">
                <h3>TRAMPOLINE PARK & ENTERTAINMENT CENTERS COMING</h3>
                <h1>MAY 2018</h1>
                <button type="button">Coming Soon</button>
            </div>
        </div>
        <div class="home-arrow floating">
            <img id="arrow" class="anim-op" src="/assets/img/home-arrow.svg">
        </div>
    </div>

    <div class="block-two" escapePane>
        <div class="container">
            <div class="desc_slider gold">
                <h3>TRAMPOLINE PARK & ENTERTAINMENT CENTERS COMING</h3>
                <h1>MAY 2018</h1>
                <button type="button">Coming Soon</button>
            </div>
        </div>

    </div>
    <div class="block-three" virtualPane>
        <div class="container">
            <div class="desc_slider gold">
                <h3>TRAMPOLINE PARK & ENTERTAINMENT CENTERS COMING</h3>
                <h1>MAY 2018</h1>
                <button type="button">Coming Soon</button>
            </div>
        </div>
    </div>

</app-main-slider>


<div  class="homepage-gaiety coming-soon-email">
    <div  class="homepage-block-blackout pv-40">

        <div class="container h-100">
            <div class="row h-100 justify-content-center">
                <div class="col">
                    <p>Enter your phone number below</p>
                    <p>and get notified about Adrenaline Entertainment Centers</p>
                    <p>launch events and promotions.</p>
                  <div *ngIf="this.validation_msg" class="alert" style="background-color: #00000000; color: rgb(146, 221, 2);" >
                    <strong>Success!</strong> your message was sent successfully
                  </div>
                    <form id="coming-soon-form" class="form-inline justify-content-center coming-soon-form" >
                        <div class="col-md-6">
                            <input type="tel" class="form-control" #userPhone placeholder="Your Phone">
                        </div>
                        <div class="col-md-3">
                            <button (click)="sendPostComing(this.service.getIdByName(this.activeLocationId), userPhone.value)" type="reset" >subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
