<div class="block-blog-post">
  <div *ngIf="post" class="container">
    <img src="{{post.img_url}}">
    <h1>{{post.post_title}}</h1>
    <h3>{{post.post_date}}</h3>
    <div [innerHtml]="post.fulltext" class="post-text">
      <!--{{post.fulltext}}-->
    </div>
  </div>
  <div class="all-posts">
    <div class="container">
      <h1>Latest posts</h1>
      <div *ngFor="let post of latestPosts" class="col-md-4 one-post">
        <a routerLink="/{{activeLocationId}}/blog/{{post.id}}">
          <img src="{{post.img_url}}">
        </a>
        <div class="blog-text">
          <p class="blog-name"><a routerLink="/{{activeLocationId}}/blog/{{post.id}}">Lorem Dolor</a></p>
          <p class="blog-date">{{post.post_date}}</p>
          <p class="blog-decl">{{post.excerpt}}</p>
          <p class="blog-read"><a routerLink="/{{activeLocationId}}/blog/{{post.id}}">Read More</a></p>
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
    <div style="clear: both"></div>
  </div>
  <div style="clear: both"></div>
</div>
