<h1 style="color: white; font-size: 50px"></h1>


<div class="mob_slider">
  <div class="block-one">

    <div class="container">
      <div class="desc_slider">
        <h3>Come visit us at</h3>
        <h1>lake worth</h1>
        <a class="green_up btn mt-30 theme_a_btn" href="/">Join us</a>
      </div>
    </div>
  </div>
</div>
<!--trampolines-homepage-->

<section class="homepage-locations-blue homepage-locations-dark2 pv-40">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-3">
        <h2 class="green_up">Open Hours</h2>
        <ul class="list-unstyled open_hours text-uppercase">
          <li class="  ">Mon-Thurs</li>
          <li class="  txt_col ">10 AM - 9 PM</li>
          <li class=" ">Fri</li>
          <li class="  txt_col">10 AM - 11 PM</li>
          <li class=" ">Sat</li>
          <li class=" txt_col">9 AM - 11 PM</li>
          <li class=" ">Sun</li>
          <li class=" txt_col">11 AM - 8 PM</li>
        </ul>
      </div>
      <div class="col-md-8">
        <h2 class="green_up">Lorem Ipsum</h2>
        <p>
          Suspendisse sagittis nunc id risus facilisis, vel venenatis ex tincidunt. Morbi vel laoreet nisl. Duis pulvinar leo quis mauris cursus mollis.
          Praesent eget quam vitae enim faucibus rutrum sed ultrices elit. Aenean eu est mollis, commodo felis sed, porta urna. Quisque in posuere enim.
        </p>
        <h3 class="green_up text-center">Call us right now: (561) 440-1400</h3>
        <p>
          Duis pulvinar leo quis mauris cursus mollis.
          Praesent eget quam vitae enim faucibus rutrum sed ultrices elit. Aenean eu est mollis, commodo felis sed, porta urna. Quisque in posuere enim.
        </p>
      </div>
    </div>
  </div>

</section>
<section class="homepage-locations-blue2 pv-120">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-6">
        <h1 class="green_up">Play & complete</h1>
        <p>
          There are many variations of passages of Lorem Ipsum available,
          but the majority have suffered alteration in some form, by injected humour,
          or
        </p>
        <p>
          There are many variations of passages of Lorem Ipsum available,
          but the majority have suffered alteration in some form, by injected humour,
          or randomised words which don't look even slightly believable.
        </p>
      </div>
      <div class="col-md-6">
        <img src="../../../../assets/img/trampolines_homepage/boy.png" class="d-none d-sm-block boy_trampolines_homepages">
      </div>
    </div>
  </div>

</section>
<section class="homepage-locations-dark3 pv-120">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-6">
        <img src="../../../../assets/img/trampolines_homepage/girl.png" class="d-none d-sm-block boy_trampolines_homepages">
      </div>
      <div class="col-md-6 pv-40">
        <h1 class="green_up">Get fit</h1>
        <p>
          There are many variations of passages of Lorem Ipsum available,
          but the majority have suffered alteration in some form, by injected humour,
          or
        </p>
      </div>
    </div>
  </div>
</section>
<section class="homepage-locations-blue4 pv-40">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-6 pv-80">
        <h1 class="green_up">Have fun</h1>
        <p>
          There are many variations of passages of Lorem Ipsum available,
          but the majority have suffered alteration in some form, by injected humour,
          or randomised words which don't look even slightly believable.
        </p>
      </div>
      <div class="col-md-6">
        <img src="../../../../assets/img/trampolines_homepage/girls.png" class="d-none d-sm-block girls_trampolines_homepages">
      </div>
    </div>
  </div>

</section>
<section class="homepage-locations-dark4 pv-40">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 text-center pv-40">
        <h1 class="green_up">Right now in lake worth</h1>
      </div>
      <div class="col-md-4 text-center align-self-center custom-top-pad">
        <div class="block_trampolines_homepages ">
          <div class="block_trampolines_homepages_small">
            <h3 class="green_up pt-80">Toddler time</h3>
            <h4 class="text_white_norm text-uppercase ">Mon - fri: 10AM - 1PM</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center align-self-center custom-top-pad">
        <div class="block_trampolines_homepages ">
          <div class="block_trampolines_homepages_small">
            <h3 class="green_up pt-80">Toddler time extended</h3>
            <h4 class="text_white_norm text-uppercase ">1 sun of each month: 10AM - 12PM</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center align-self-center custom-top-pad">
        <div class="block_trampolines_homepages ">
          <div class="block_trampolines_homepages_small">
            <h3 class="green_up pt-80">Family pack</h3>
            <h4 class="text_white_norm text-uppercase ">24/7</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center align-self-center custom-top-pad">
        <div class="block_trampolines_homepages ">
          <div class="block_trampolines_homepages_small">
            <h3 class="green_up pt-80">FRIDAY NIGHT FRENZY</h3>
            <h4 class="text_white_norm text-uppercase ">6PM - 9PM, FRIDAYS</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center align-self-center custom-top-pad">
        <div class="block_trampolines_homepages ">
          <div class="block_trampolines_homepages_small">
            <h3 class="green_up pt-80">Teen night</h3>
            <h4 class="text_white_norm text-uppercase ">7PM - 10PM saturday</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center align-self-center custom-top-pad">
        <div class="block_trampolines_homepages ">
          <div class="block_trampolines_homepages_small">
            <h3 class="green_up mt-20">SENSORY SUNDAY</h3>
            <h4 class="text_white_norm">1ST SUN OF EACH MONTH: 10AM - 12PM</h4>
            <p class="mt-20">For Just $10 We Provide A Quiet, Toned-down Jumping Experience</p>
            <p class="text_green_small text-uppercase mt-60">No music will be played during this time</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="homepage-locations-blue5 pv-80">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="green_up">Instance coupons?</h1>
        <h2 class="text-uppercase text_white_n">Receive 10% off your next party</h2>
        <a class="green_up btn mt-30 theme_a_btn btn_pad" href="/">Contact us</a>
      </div>

    </div>
  </div>
</section>
<section class="homepage-locations-dark5 pt-80">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center pb-40">
        <h1 class="green_up">Ready for an epic good time?</h1>
      </div>
      <div class="col-sm-4 align-items-center">
        <div class="row justify-content-center rec_blue ">
          <div class="col-12>">
            <h5>$18</h5>
          </div>
        </div>
        <div class="row person">
          <div class="col-12">
            one hour
          </div>
        </div>
      </div>
      <div class="col-sm-4 align-items-center">
        <div class="row justify-content-center rec_blue ">
          <div class="col-12>">
            <h5>$25</h5>
          </div>
        </div>
        <div class="row person">
          <div class="col-12">
            two hours
          </div>
        </div>
      </div>
      <div class="col-sm-4 align-items-center">
        <div class="row justify-content-center rec_blue ">
          <div class="col-12>">
            <h5>$13</h5>
          </div>
        </div>
        <div class="row person">
          <div class="col-12">
            6 & under
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-4  align-items-center">
        <div class="row justify-content-center rec_blue_small">
          <div class="col-12>">
            <h5>$4</h5>
          </div>
        </div>
        <div class="row person_small">
          <div class="col-12">
            crew socks
          </div>
        </div>
      </div>
      <div class="col-sm-4  align-items-center">
        <div class="row justify-content-center rec_blue_small">
          <div class="col-12>">
            <h5>$2</h5>
          </div>
        </div>
        <div class="row person_small">
          <div class="col-12">
            unkel socks
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <a class="green_up btn mb-30 theme_a_btn btn_pad mt-80" href="/">Book your party</a>
        <p class="text-muted fs_12">Jumpers are required to wear Altitude Trampoline Socks for sanitation
          adn safety purpose. You are also allowed to reuse your socks.</p>
      </div>
    </div>
  </div>
</section>
