<div class="block-park">
  <div class="cent-text slideUp">
    <h3>Trampoline park</h3>
    <p>Adrenaline’s trampoline parks offer opportunities for fun, play, exploration, and adventure. So no matter what your needs are, our wide array of activities offered are sure to have you excited.</p>
  </div>
</div>
<div class="block-loc">
  <p class="loc-one">Nearest park to your location</p>
  <p class="loc-name loc-two" link="/"><img src="/assets/img/loc-icon.png">Vista, California</p>
  <p class="loc-three">
    <img src="/assets/img/loc-icon.png">
    <span id="click-find">Find your park</span>
  </p>
  <p class="loc-four"><img src="/assets/img/loc-icon.png">Please, allow to use your location</p>
</div>
<app-all-locations [bgColor]="''"></app-all-locations>
<div class="block-play">
  <div class="play-one">
    <div class="container">
      <img class="play-one-up" src="/assets/img/play1-up.png">
      <div class="play-text ">
        <h3 class="custom_center_text" >Play & Compete</h3>
        <p class="custom_center_text">Dodgeball, basketball, battle beams, foam pits, a kid’s zone, and of course, freestyle jumping – these are just some of the fun activities that you can participate in with our trampolines!</p>
      </div>
    </div>
  </div>
  <div class="play-two">
    <div class="container">
      <img class="play-two-up" src="/assets/img/play2-up.png">
      <div class="play-text">
        <h3>Get fit</h3>
        <p>Our trampolines are the perfect way to get your cardio going with some fun fitness. Getting in shape is just one of the many benefits of Adrenaline’s trampolines!</p>
      </div>
    </div>
  </div>
  <div class="play-three">
    <div class="container">
      <img class="play-three-up" src="/assets/img/play3-up.png">
      <div class="play-text">
        <h3>Have fun!</h3>
        <p>Whether you’re looking for birthday party ideas, fun team-building activities, or just some family fun, getting your hop on with our trampolines is the perfect way to spend your day.</p>
      </div>
    </div>
  </div>
</div>
<div class="block-rules">
  <h3>Rules & Safety</h3>
  <p>OUR PARKS ARE COMPLETELY DESIGNED WITH YOUR SAFETY IN MIND</p>
</div>
<div class="block-all-rules">
  <div class="all-rules--green">
    <img src="/assets/img/all-rulles-arrow.png">
    <p>Read all rulles</p>
  </div>
  <div class="all-rules--contents">
    <div class="container">
      <h4 class="title">Listen to our monitors</h4>
      <p>Our court monitors are here to keep you safe, they are like our lifeguards. Our monitors go through many days of comprehensive training to spot accidents before they happen and react properly in case of emergencies. If they ask you to do something, listen to them! Remember, fun and safety go hand-in-hand.</p>
      <h4 class="title">Jumping Rules</h4>
      <p>All guests must follow our jumping rules and any rules they see posted on the walls at the park. Jump responsibly, and have fun!</p>
      <ol>
        <li>Only one person per jumping surface. Double bouncing is strictly prohibited</li>
        <li>Horseplay of any kind is forbidden (Pushing, wrestling, tackling, running, racing, playing tag, etc.)</li>
        <li>Don’t sit or lie on the trampolines. Exit the trampolines to rest</li>
        <li>Don’t touch, climb, lean, or hang on any of the top pads or netting</li>
        <li>No double flips or flips/tricks over the pads. Single flips are permitted but no more than two in a row</li>
        <li>Always jump and land on two feet. Never land on your head, and never jump or land on the padding.</li>
        <li>Be decent! Spitting, profanity, and being under the influence of drugs or alcohol are strictly prohibited</li>
        <li>When bouncing off the sidewalls, you must land on the nearest trampoline</li>
        <li>Jump within your ability. Trampolining is an inherently dangerous activity, so jump at your own risk</li>
        <li>Do not jump if you are pregnant or have other health limitations.</li>
      </ol>
      <h4 class="title">Clothing & accessory rules</h4>
      <p>Go through this quick checklist before you get on the trampolines.</p>
      <ol>
        <li>Wear your wristband at all times</li>
        <li>Empty your pockets</li>
        <li>No belt buckles, clothing studs, jewelry, key chains, or sharp objects</li>
        <li>No phones, cameras, glass, balls, or other objects or equipment</li>
        <li>Only socks or bare feet (no shoes)</li>
        <li>Don’t jump with your mouth full! No food or drink on the trampolines (gum, candy, etc.)</li>
      </ol>
    </div>
  </div>
</div>
