<div class="mob_slider">
  <div class="block-one join-our-team">

    <div class="container">
      <div class="desc_slider">
        <h3>LOOKING TO JOIN THE</h3>
        <h1>Adrenaline team?</h1>
        <a class="green_up btn mt-30 theme_a_btn" href="/">Join us</a>
      </div>
    </div>
  </div>
</div>

<section class="homepage-locations-blue pv-40">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <p class="txt_team">If you think you’ve got what it takes to join the altitude team, sendus an application!</p>
        <a class="green_up btn mt-30 theme_a_btn" routerLink="../contact" >complete the application form</a>
      </div>

    </div>
  </div>

</section>
<section class="homepage-locations-dark pv-80">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="green_up">Want to open your own adrenaline center?</h1>
        <a class="green_up btn mt-40 theme_a_btn" routerLink="../contact" >Contact us</a>
      </div>

    </div>
  </div>

</section>
