<section class="parties-block-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm col-lg-6 parties_desc_slider">
            <div class="row justify-content-end">
              <div class="col col-lg-9 p-0">
                <h1>Planning a party?</h1>
                <p>Lorem ipsum dolor sit amet elit, vabiscum consectetur adipiscing Lorem ipsum dolor sit amet elit.
                  Maecenas posuere purus purus, in rutrum nisi tempor nec. Vivamus nec orci tellus.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="homepage-locations-dark pv-80">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="green_up">Instant Coupons?</h1>
        <a class="green_up btn mt-30 theme_a_btn" href="/">Book a party</a>
      </div>

    </div>
  </div>
</section>
<section class="parties-locations-blue pt-80">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="green_up mb-30">Every party includes</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 text-center">
        <img src="../../../../assets/img/parties/full_hours.png">
        <h4 class="text-uppercase text_white_img fs_22 mt-sm-4">2 full hours of party time</h4>
      </div>
      <div class="col-md-3 text-center">
        <img src="../../../../assets/img/parties/Access.png">
        <h4 class="text-uppercase text_white_img fs_22 mt-sm-4">Access to whole park</h4>
      </div>
      <div class="col-md-3 text-center">
        <img src="../../../../assets/img/parties/Bottle.png">
        <h4 class="text-uppercase text_white_img fs_22 mt-sm-4">Bottled water for every jumper</h4>
      </div>
      <div class="col-md-3 text-center">
        <img src="../../../../assets/img/parties/socks.png">
        <h4 class="text-uppercase text_white_img fs_22 mt-sm-4">Bottled water for every jumper</h4>
      </div>
    </div>
    <div class="row justify-content-center mt-40">
      <div class="col-md-3 text-center">
        <img src="../../../../assets/img/parties/table.png">
        <h4 class="text-uppercase text_white_img fs_22 mt-sm-4">Reserved table</h4>
      </div>
      <div class="col-md-3 text-center">
        <img src="../../../../assets/img/parties/personal.png">
        <h4 class="text-uppercase text_white_img fs_22 mt-sm-4">A personal party host</h4>
      </div>
      <div class="col-md-3 text-center">
        <img src="../../../../assets/img/parties/service.png">
        <h4 class="text-uppercase text_white_img fs_22 mt-sm-4">Full-service from setup to cleanup</h4>
      </div>
    </div>
    <div class="row mt-40">
      <div class="col-md-12 text-center">
        <h5 class="green_up">No commitmen</h5>
        <p class="mb-30">We refund 100% if you cancel at least 24 hours in advance.</p>
      </div>
    </div>
  </div>
</section>

<section class="parties-locations-dark pv-40">
  <div class="container">
    <div class="row pb-80">
      <div class="col-md-6">
        <div class="row">
          <div class="col-12">
            <h1 class="green_up text-center">Play & complete</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <a class="green_up btn mt-30 theme_a_btn btn_pad_20 d-block" [class.choosed-party-plan]="!this.boolPrivateRoom" (click)="setBoolPrivateRoom( false )" >without private room</a>
            <a class="green_up btn mt-30 theme_a_btn btn_pad_20 d-block" [class.choosed-party-plan]="!this.bool20Jumpers" (click)="setBool20Jumpers( false )" >10 jumpers</a>
            <a class="green_up btn mt-30 theme_a_btn btn_pad_20 d-block"  [class.choosed-party-plan]="!this.boolWithFood" (click)="setBoolWithFood ( false )" >no food </a>
          </div>
          <div class="col-md-6">
            <a class="green_up btn mt-30 theme_a_btn btn_pad_20 d-block" [class.choosed-party-plan]="this.boolPrivateRoom"  >with private room</a>  <!--(click)="setBoolPrivateRoom( true )"-->
            <a class="green_up btn mt-30 theme_a_btn btn_pad_20 d-block" [class.choosed-party-plan]="this.bool20Jumpers" (click)="setBool20Jumpers( true )" >20 jumpers</a>
            <a class="green_up btn mt-30 theme_a_btn btn_pad_20 d-block" [class.choosed-party-plan]="this.boolWithFood" (click)="setBoolWithFood ( true )" >with food </a>
          </div>

        </div>

        <div class="row mt-20">
          <div class="col-12 text-center">
            <h4 *ngIf="this.service.pricingBirthday[this.concatIdAndArrName(0)]" class="text-uppercase text_white_img fs_22 mt-sm-4">{{this.getHumanLabel()}}</h4>
            <h1 *ngIf="this.service.pricingBirthday[this.concatIdAndArrName(0)]" class="green_up">${{this.getWeekend()}}</h1>
            <h5 *ngIf="this.service.pricingBirthday[this.concatIdAndArrName(0)]" class="green_up">Mon - Thurs: ${{this.getWeekday()}}</h5>
            <a *ngIf="this.service.pricingBirthday[this.concatIdAndArrName(0)]" class="green_up btn mt-30 theme_a_btn btn_pad"  >Book a party</a>    <!--[src]="'http://altitudewoodbridge.pfestore.com/events/' + this.getLinkLabel()"--> <!--[src]=" this.service.pricingBirthdayUrl |json "-->
            <!--<h1 *ngIf="this.service.pricingBirthday[this.concatIdAndArrName(0)]" >{{this.getLinkLabel()}},  {{this.service.pricingBirthdayUrl | json }}</h1>-->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="../../../../assets/img/parties/girls2.png" class="d-none d-sm-block girls_parties">
      </div>
    </div>
  </div>
</section>
