<section class="groups-block-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm col-lg-6 waiver-desc_slider">
            <div class="row justify-content-end">
              <div class="col col-lg-9 p-0">
                <h1>Groups & Events</h1>
                <p>Lorem ipsum dolor sit amet elit, vabiscum consectetur adipiscing Lorem ipsum dolor sit amet elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="groups-block-2">
  <div class="container">
    <div class="row r1">
      <div class="col-lg-6">
        <h1>CUSTOMIZE YOUR PARTY</h1>
        <h2>20+ Jumpers</h2>
        <p>
          Ipsum dicta consequuntur has ad, ea eum congue urbanitas. Melius meliore dissentias sea cu. Id sonet congue mediocrem vel. Eu nec alii senserit, per rebum audire assentior ad, te vel soluta saperet conceptam.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 align-items-center">
        <div class="row justify-content-center rec ">
          <div class="col-12>">
            <h5>$13</h5>
            <h6>per person</h6>
          </div>
        </div>
        <div class="row person">
          <div class="col-12">
            one hour
          </div>
        </div>
      </div>
      <div class="col-sm-4 align-items-center">
        <div class="row justify-content-center rec ">
          <div class="col-12>">
            <h5>$17</h5>
            <h6>per person</h6>
          </div>
        </div>
        <div class="row person">
          <div class="col-12">
            1.5 hours
          </div>
        </div>
      </div>
      <div class="col-sm-4 align-items-center">
        <div class="row justify-content-center rec ">
          <div class="col-12>">
            <h5>$20</h5>
            <h6>per person</h6>
          </div>
        </div>
        <div class="row person">
          <div class="col-12">
            2 hours
          </div>
        </div>
      </div>
    </div>
    <div class="row group-button">
      <div class="col-12 waiver-desc_slider_button">
        <button type="button" class="btn btn-outline-success btn-block" style="max-width: 360px">call to reverse</button>
      </div>
    </div>
  </div>
</section>
<section class="group-block-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>
          WE’LL HOST YOUR EVENT
        </h1>
        <p>
          Ipsum dicta consequuntur has ad, ea eum congue urbanitas. Melius meliore dissentias sea cu. Id sonet congue mediocrem vel. Eu nec alii senserit, per rebum audire assentior ad, te vel soluta saperet conceptam.
        </p>
        <h2>
          have a question lorem dolor sonsectetuer?
        </h2>
        <div class="row group-button" style="margin-top: 0">
          <div class="col-12 waiver-desc_slider_button">
            <button *ngFor="let locationI of locationInf " type="button" class="btn btn-outline-success btn-block" style="max-width: 360px">call {{locationI.phone}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
