<div class="block-parties">
  <div class="left-rect slideUp">
    <h3>Planning a party?</h3>
    <p>Whether you’re looking to hold a birthday party for your kid, wanting to bring your office closer together, or hoping to hold a fun family event, we’ve got you covered with fun, play, and a dash of competition.</p>
  </div>
  <div class="container">
    <img class="parties-up" src="/assets/img/parties-up.png">
    <img class="parties-up-mob" src="/assets/img/parties-up-mob.png">
  </div>
</div>

<div class="block-loc">
  <p class="loc-one">Nearest park to your location</p>
  <p class="loc-name loc-two" link="/"><img src="/assets/img/loc-icon.png">Vista, California</p>
  <p class="loc-three">
    <img src="/assets/img/loc-icon.png">
    <span id="click-find">Find your park</span>
     </p>
  <p class="loc-four"><img src="/assets/img/loc-icon.png">Please, allow to use your location</p>
</div>
<div class="block-all-loc">
  <div class="all-loc--green">
    <img src="/assets/img/all-loc-arrow.png">
    <p>All locations</p>
  </div>
  <div class="all-loc--contents">
    <div class="container">
      <div class="all-loc--content">
        <p class="loc-name" link="/">New Jersey</p>
        <p class="loc-addr"><img src="/assets/img/icon-loc.png"> 1234 Lorem St., 25</p>
        <p class="loc-phone"><img src="/assets/img/icon-phone.png">123-456-7890</p>
      </div>
      <div class="all-loc--content">
        <p class="loc-name" link="/">New York</p>
        <p class="loc-addr"><img src="/assets/img/icon-loc.png">1234 Lorem St., 25</p>
        <p class="loc-phone"><img src="/assets/img/icon-phone.png">123-456-7890</p>
      </div>
      <div class="all-loc--content">
        <p class="loc-name" link="/">Boston</p>
        <p class="loc-addr"><img src="/assets/img/icon-loc.png">1234 Lorem St., 25</p>
        <p class="loc-phone"><img src="/assets/img/icon-phone.png">123-456-7890</p>
      </div>
      <div class="all-loc--content">
        <p class="loc-name" link="/">Memphis</p>
        <p class="loc-addr"><img src="/assets/img/icon-loc.png">1234 Lorem St., 25</p>
        <p class="loc-phone"><img src="/assets/img/icon-phone.png">123-456-7890</p>
      </div>
      <div class="all-loc--content">
        <p class="loc-name" link="/">New York</p>
        <p class="loc-addr"><img src="/assets/img/icon-loc.png">1234 Lorem St., 25</p>
        <p class="loc-phone"><img src="/assets/img/icon-phone.png">123-456-7890</p>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="js/loc.js"></script>
</div>
<div class="block-play block-play-parties">
  <div class="play-one">
    <div class="container">
      <img class="play-one-up" src="/assets/img/partie1-up.png">
      <div class="play-text">
        <h3>Birthday Bash</h3>
        <p>Looking for memorable birthday party ideas, but struggling to find the perfect fit? Our games and activities are perfect for birthday parties. Mix in a few trampolines and your kids’ birthday party is guaranteed to be one to remember!</p>
        <!-- <a class="play-link" href="">Contact us</a> -->
      </div>
    </div>
  </div>
  <div class="play-two">
    <div class="container">
      <img class="play-two-up" src="/assets/img/partie2-up.png">
      <div class="play-text">
        <h3>Team-Building</h3>
        <p>Looking for some fun team-building activities that can bring you and your group closer together? If you’re looking for corporate team-building ideas, look no more. We mix in fun and play with teamwork and competition, all bringing about the desired outcomes of growth and comradery.</p>
      </div>
    </div>
  </div>
</div>
<div class="block-rules block-parties-rules">
  <div class="container">
    <h3>Rules & Safety</h3>
    <p>OUR PARKS ARE COMPLETELY DESIGNED WITH YOUR SAFETY IN MIND</p>
  </div>
</div>
<div class="block-all-rules block-parties-all-rules">
  <div class="all-rules--green">
    <img src="/assets/img/all-rulles-arrow.png">
    <p>Read all rulles</p>
  </div>
  <div class="all-rules--contents">
    <div class="container">
      <h4 class="title">Listen to our monitors</h4>
      <p>Our court monitors are here to keep you safe, they are like our lifeguards. Our monitors go through many days of comprehensive training to spot accidents before they happen and react properly in case of emergencies. If they ask you to do something, listen to them! Remember, fun and safety go hand-in-hand.</p>
      <h4 class="title">Jumping Rules</h4>
      <p>All guests must follow our jumping rules and any rules they see posted on the walls at the park. Jump responsibly, and have fun!</p>
      <ol>
        <li>Only one person per jumping surface. Double bouncing is strictly prohibited</li>
        <li>Horseplay of any kind is forbidden (Pushing, wrestling, tackling, running, racing, playing tag, etc.)</li>
        <li>Don’t sit or lie on the trampolines. Exit the trampolines to rest</li>
        <li>Don’t touch, climb, lean, or hang on any of the top pads or netting</li>
        <li>No double flips or flips/tricks over the pads. Single flips are permitted but no more than two in a row</li>
        <li>Always jump and land on two feet. Never land on your head, and never jump or land on the padding.</li>
        <li>Be decent! Spitting, profanity, and being under the influence of drugs or alcohol are strictly prohibited</li>
        <li>When bouncing off the sidewalls, you must land on the nearest trampoline</li>
        <li>Jump within your ability. Trampolining is an inherently dangerous activity, so jump at your own risk</li>
        <li>Do not jump if you are pregnant or have other health limitations.</li>
      </ol>
      <h4 class="title">Clothing & accessory rules</h4>
      <p>Go through this quick checklist before you get on the trampolines.</p>
      <ol>
        <li>Wear your wristband at all times</li>
        <li>Empty your pockets</li>
        <li>No belt buckles, clothing studs, jewelry, key chains, or sharp objects</li>
        <li>No phones, cameras, glass, balls, or other objects or equipment</li>
        <li>Only socks or bare feet (no shoes)</li>
        <li>Don’t jump with your mouth full! No food or drink on the trampolines (gum, candy, etc.)</li>
      </ol>
    </div>
  </div>
</div>
