<header>
  <div class="container">
    <div class="logo">
      <a routerLink="/"><img src="/assets/img/logo.png"></a>
    </div>
    <div class="menu" id='cssmenu1'>
      <ul>
        <li class='active'><a routerLink="{{activeLocationId}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><span>Home</span></a></li>
        <li class='has-sub'><a routerLinkActive="active" >Trampoline park</a>
          <ul>
            <li><a routerLink="{{activeLocationId}}/trampoline-park/" routerLinkActive="active">Home</a></li>
            <li><a routerLink="{{activeLocationId}}/trampoline-park/buy-a-pass/" routerLinkActive="active">Buy a Pass</a></li>
            <li><a routerLink="{{activeLocationId}}/trampoline-park/birthday-parties/" routerLinkActive="active">Birthday Parties</a></li>
            <li><a routerLink="{{activeLocationId}}/trampoline-park/groups/" routerLinkActive="active">Groups</a></li>
            <li><a routerLink="{{activeLocationId}}/trampoline-park/activities/" routerLinkActive="active">Activities</a></li>
            <li><a routerLink="{{activeLocationId}}/trampoline-park/rules" routerLinkActive="active">Rules</a></li>
            <li class='last' ><a routerLink="{{activeLocationId}}/trampoline-park/waiver" routerLinkActive="active">Waiver</a></li>
          </ul>
        </li>
        <li class='has-sub'><a routerLinkActive="active" ><span>About us</span></a>
          <ul>
            <li><a routerLink="{{activeLocationId}}/about/join-our-team" routerLinkActive="active">join our team</a></li>
            <li><a routerLink="{{activeLocationId}}/about/gallery/" routerLinkActive="active">Gallery</a></li>
            <li><a routerLink="{{activeLocationId}}/about/about/" routerLinkActive="active">Why us</a></li>
            <li class='last' ><a routerLink="{{activeLocationId}}/about/contact/" routerLinkActive="active">Contact</a></li>
          </ul>
        </li>
        <li class='has-sub'><a routerLinkActive="active" ><span>Locations</span></a>
          <ul>
            <li class='last'*ngFor="let loc of locations" ><a (click)="setLocationById(loc.id)" routerLink="{{loc.id}}" routerLinkActive="active" >{{loc.name}}</a></li>
          </ul>
        </li>
        <li ><a routerLink="/blog/" routerLinkActive="active"><span>Blog</span></a></li>
      </ul>
    </div>
      <!--<div class="menu ">
      <div><a routerLink="{{activeLocationId}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></div>
      &lt;!&ndash;<div><a routerLink="/trampoline-park" routerLinkActive="active">Trampoline park</a></div>&ndash;&gt;
      <div class="menu-tramp" routerLinkActive="active">
        Trampoline park
        <div class="tramp-list">
          <div class="tramp-list&#45;&#45;item">
            <a routerLink="{{activeLocationId}}/trampoline-park/" routerLinkActive="active">Home</a>
          </div>
          <div class="tramp-list&#45;&#45;item">
            <a routerLink="{{activeLocationId}}/trampoline-park/buy-a-pass/" routerLinkActive="active">Buy a Pass</a>
          </div>
          <div class="tramp-list&#45;&#45;item">
            <a routerLink="{{activeLocationId}}/trampoline-park/birthday-parties/" routerLinkActive="active">Birthday Parties</a>
          </div>
          <div class="tramp-list&#45;&#45;item">
            <a routerLink="{{activeLocationId}}/trampoline-park/groups/" routerLinkActive="active">Groups</a>
          </div>
          <div class="tramp-list&#45;&#45;item">
            <a routerLink="{{activeLocationId}}/trampoline-park/activities/" routerLinkActive="active">Activities</a>
          </div>
          <div class="tramp-list&#45;&#45;item">
            <a routerLink="{{activeLocationId}}/trampoline-park/rules" routerLinkActive="active">Rules</a>
          </div>
          <div class="tramp-list&#45;&#45;item">
            <a routerLink="{{activeLocationId}}/trampoline-park/waiver" routerLinkActive="active">Waiver</a>
          </div>
        </div>
      </div>
      &lt;!&ndash;<div><a ng-href="javascript:void(0)" class="escape disabled" on-mouseover="initEscape">Escape rooms</a></div>&ndash;&gt;

      <div class="menu-about" routerLinkActive="active">
        About us
        <div class="about-list">
          <div class="about-list&#45;&#45;item">
            <a routerLink="{{activeLocationId}}/about/join-our-team" routerLinkActive="active">join our team</a>
          </div>
          <div class="about-list&#45;&#45;item">
            <a routerLink="{{activeLocationId}}/about/gallery/" routerLinkActive="active">Gallery</a>
          </div>
          <div class="about-list&#45;&#45;item">
            <a routerLink="{{activeLocationId}}/about/about/" routerLinkActive="active">Why us</a>
          </div>
          <div class="about-list&#45;&#45;item">
            <a routerLink="{{activeLocationId}}/about/contact/" routerLinkActive="active">Contact</a>
          </div>
        </div>
      </div>

      <div  class="menu-locations" routerLinkActive="active">  &lt;!&ndash;class="menu-loc" (click)="toggleState()"&ndash;&gt;
        Locations
        <div class="location-list">
          <div class="tramp-list&#45;&#45;item " *ngFor="let loc of locations" >
            <a (click)="setLocationById(loc.id)" routerLink="{{loc.id}}" routerLinkActive="active" >{{loc.name}}</a>
          </div>
        </div>
        &lt;!&ndash;<div class="loc-list">
          <div id="find-park" class="loc-list&#45;&#45;item" link="/">FIND A PARK</div>
          <div class="loc-list&#45;&#45;item" link="/locations/home">Home</div>
          <div class="loc-list&#45;&#45;item" link="/locations/join-our-team">join our team</div>
          <div class="loc-list&#45;&#45;item" link="/cincinnati/">CINCINNATI</div>
          <div class="loc-list&#45;&#45;item" link="/locations/about/">About</div>
          <div class="loc-list&#45;&#45;item" link="/locations/gallery/">Gallery</div>
          <div class="loc-list&#45;&#45;item" link="/locations/contact/">Contact</div>
          <div class="loc-list&#45;&#45;item" link="/locations/activities">activities</div>
          <div class="loc-list&#45;&#45;item" link="/locations/waiver">waiver</div>
          <div class="loc-list&#45;&#45;item" link="/locations/groups">groups</div>
          <div class="loc-list&#45;&#45;item" link="/locations/trampolines-homepage">trampolines-homepage</div>
          <div class="loc-list&#45;&#45;item" link="/locations/pass">pass</div>
          <div class="loc-list&#45;&#45;item" link="/locations/parties">parties</div>
        </div>&ndash;&gt;
      </div>
      <div><a routerLink="/blog/" routerLinkActive="active">Blog</a></div>
    </div>-->
    <div id="ask">
      <div id="ask-contain" class="">
        <h3></h3>
        <div style="width: 100%; text-align: center;">
          <div style="display: inline-block">
            <div id="ask-no">No</div>
            <a id="ask-yes" href="/">Yes</a>
          </div>
        </div>
      </div>
    </div>
    <div id="ask-loc">
      <div id="ask-loc-contain" class="col-md-12">
        <h3>Help us find the nearest park to your location</h3>
        <h2>
                    <span class="ask-loc-zip">
                        Input your zip
                        <input class="input-zip" list="zip" maxlength="5">
                        <datalist id="zip">
                            <option>90001</option>
                            <option>90002</option>
                            <option>90003</option>
                            <option>90004</option>
                            <option>90005</option>
                            <option>90006</option>
                        </datalist>
                    </span>
          <span class="ask-loc-city">
                        or city
                        <input class="input-city" list="city" maxlength="25">
                        <datalist id="city">
                            <option>Vista</option>
                            <option>New Jersey</option>
                            <option>New York</option>
                            <option>Boston</option>
                            <option>Memphis</option>
                        </datalist>
                    </span>
          <span class="ask-loc-buttons">
                        <button id="ask-button-close">Close</button>
                        <button id="ask-button-find">Find</button>
                    </span>
        </h2>
      </div>
    </div>
  </div>
  <div style="display: none">
    <div id="startLat"></div>
    <div id="startLon"></div>
    <div id="startCity"></div>
  </div>
</header>

<router-outlet></router-outlet>
<app-footer [isDarkFooter]="isDarkFooter" [activeLocationId]="activeLocationId" ></app-footer>
<!--
<h1 color="red">Active location = {{activeLocationId}}</h1>
<footer [ngClass]="{'footer-dark': isDarkFooter}">
    <div class="container">
        <div class="footer-logo">
            <img src="/assets/img/footer-logo.png">
        </div>
        <div *ngFor="let locInf of locationInf" class="footer-text row">
            <div class="col-md-4">
                <p class="footer-name">Adrenaline Entertainment Centers
                    CORPORATE HEADQUARTERS</p>
                <p class="footer-contact"><img src="/assets/img/icon-loc.png">{{locInf.address_street}}</p>
                <p class="footer-contact-add-line">{{locInf.address_city}}, {{locInf.address_state}} {{locInf.address_zip}}</p>
                <p class="footer-contact"><img src="/assets/img/icon-phone.png">{{locInf.phone}}</p>
                <p class="footer-contact"><img src="/assets/img/icon-email.png">email@domain.com</p>
            </div>
            <div class="col-md-2">
                <p>home</p>
                <p>trampoline park</p>
                <p>escape rooms</p>
                <p>locations</p>
                <p>blog</p>
            </div>
            <div class="col-md-2">
                <p>lorem ad astra</p>
                <p>dolor elit</p>
                <p>consectetuer</p>
                <p>ipsum per</p>
                <p>dura lex</p>
            </div>
            <div class="col-md-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales tortor quis ante porta
                venenatis. Suspendisse sollicitudin, dolor sed dignissim bibendum, sapien sem laoreet arcu, non mollis
                neque odio porttitor purus.</p>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12" >
                <ul  class="list-inline text-lg-right text-sm-center social_icons circle cus-cent">
                    <li *ngFor="let f of facebook_link" class="list-inline-item facebook">
                        <a  href="{{f.url}}" target="_blank">
                        <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li *ngFor="let t of twitter_link" class="list-inline-item twitter">
                        <a href="{{t.url}}" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li *ngFor="let i of instagram_link" class="list-inline-item instagram">
                        <a href="{{i.url}}" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li *ngFor="let g of google_link" class="list-inline-item youtube">
                        <a href="{{g.url}}" target="_blank">
                            <i class="fa fa-google-plus"></i>
                        </a>
                      <p color="white">{{instagram_link | json }}{{instagram_link[0].url}}
                        instagram link::    {{instagram_link[0].url }}</p>
                    </li>
                </ul>
            </div>
          <div class="col-md-6 col-sm-12 col-xs-12 cus-cent">
            <p class="cus-cent" >Adrenaline Entertainment Centers © 2018</p>
          </div>
        </div>
    </div>
</div>
-->
