<header>
    <div class="container">
        <div class="logo">
            <a routerLink="/"><img src="/assets/img/logo.png"></a>
        </div>
        <div class="menu">
            <div><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></div>
            <!--<div><a routerLink="/trampoline-park" routerLinkActive="active">Trampoline park</a></div>-->
            <div class="menu-tramp" routerLinkActive="active">
                Trampoline park
                <div class="tramp-list">
                    <div class="tramp-list--item">
                        <a routerLink="/trampoline-park/" routerLinkActive="active">Home</a>
                    </div>
                    <div class="tramp-list--item">
                        <a routerLink="/trampoline-park/buy-a-pass/" routerLinkActive="active">Buy a Pass</a>
                    </div>
                    <div class="tramp-list--item">
                        <a routerLink="/trampoline-park/birthday-parties/" routerLinkActive="active">Birthday Parties</a>
                    </div>
                    <div class="tramp-list--item">
                        <a routerLink="/trampoline-park/groups/" routerLinkActive="active">Groups</a>
                    </div>
                    <div class="tramp-list--item">
                        <a routerLink="/trampoline-park/activities/" routerLinkActive="active">Activities</a>
                    </div>
                    <div class="tramp-list--item">
                        <a routerLink="/trampoline-park/rules" routerLinkActive="active">Rules</a>
                    </div>
                    <div class="tramp-list--item">
                        <a routerLink="/trampoline-park/waiver" routerLinkActive="active">Waiver</a>
                    </div>
                </div>
            </div>
            <!--<div><a ng-href="javascript:void(0)" class="escape disabled" on-mouseover="initEscape">Escape rooms</a></div>-->
            

            <div class="menu-about" routerLinkActive="active">
                About us
                <div class="about-list">
                    <div class="about-list--item">
                        <a routerLink="/about/join-our-team" routerLinkActive="active">join our team</a>
                    </div>
                    <div class="about-list--item">
                        <a routerLink="/about/gallery/" routerLinkActive="active">Gallery</a>
                    </div>
                    <div class="about-list--item">
                        <a routerLink="/about/about/" routerLinkActive="active">Why us</a>
                    </div>
                    <div class="about-list--item">
                        <a routerLink="/about/contact/" routerLinkActive="active">Contact</a>
                    </div>
                </div>
            </div>
             <div><a routerLink="/blog/" routerLinkActive="active">Blog</a></div>
        </div>
        <div id="ask">
            <div id="ask-contain" class="">
                <h3></h3>
                <div style="width: 100%; text-align: center;">
                    <div style="display: inline-block">
                        <div id="ask-no">No</div>
                        <a id="ask-yes" href="/">Yes</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="ask-loc">
            <div id="ask-loc-contain" class="col-md-12">
                <h3>Help us find the nearest park to your location</h3>
                <h2>
                    <span class="ask-loc-zip">
                        Input your zip
                        <input class="input-zip" list="zip" maxlength="5">
                        <datalist id="zip">
                            <option>90001</option>
                            <option>90002</option>
                            <option>90003</option>
                            <option>90004</option>
                            <option>90005</option>
                            <option>90006</option>
                        </datalist>
                    </span>
                    <span class="ask-loc-city">
                        or city
                        <input class="input-city" list="city" maxlength="25">
                        <datalist id="city">
                            <option>Vista</option>
                            <option>New Jersey</option>
                            <option>New York</option>
                            <option>Boston</option>
                            <option>Memphis</option>
                        </datalist>
                    </span>
                    <span class="ask-loc-buttons">
                        <button id="ask-button-close">Close</button>
                        <button id="ask-button-find">Find</button>
                    </span>
                </h2>
            </div>
        </div>
    </div>
    <div style="display: none">
        <div id="startLat"></div>
        <div id="startLon"></div>
        <div id="startCity"></div>
    </div>
</header>


<router-outlet></router-outlet>

<footer [ngClass]="{'footer-dark': isDarkFooter}">
    <div class="container">
        <div class="footer-logo">
            <img src="/assets/img/footer-logo.png">
        </div>

        <div class="footer-text row">
            <div class="col-md-4">
                <p class="footer-name">Adrenaline Entertainment Centers
                    CORPORATE HEADQUARTERS</p>
                <p class="footer-contact"><img src="/assets/img/icon-loc.png">1234 Lorem St., Suite 58</p>
                <p class="footer-contact-add-line">Beaverville, Florida 12345</p>
                <p class="footer-contact"><img src="/assets/img/icon-phone.png">123-456-7890</p>
                <p class="footer-contact"><img src="/assets/img/icon-email.png">email@domain.com</p>
            </div>
            <div class="col-md-2">
                <p>home</p>
                <p>trampoline park</p>
                <p>escape rooms</p>
                <p>locations</p>
                <p>blog</p>
            </div>
            <div class="col-md-2">
                <p>lorem ad astra</p>
                <p>dolor elit</p>
                <p>consectetuer</p>
                <p>ipsum per</p>
                <p>dura lex</p>
            </div>
            <div class="col-md-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales tortor quis ante porta
                venenatis. Suspendisse sollicitudin, dolor sed dignissim bibendum, sapien sem laoreet arcu, non mollis
                neque odio porttitor purus.</p>
            </div>
        </div>

    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Adrenaline Entertainment Centers © 2018</p>
            </div>
            <div class="col-md-6">
                <ul class="list-inline text-lg-right text-sm-center social_icons circle">
                    <li class="list-inline-item facebook">
                        <a href="#" target="_blank">
                        <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item twitter">
                        <a href="#" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item instagram">
                        <a href="#" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item youtube">
                        <a href="#" target="_blank">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
