<div class="block-escape">
  <div class="carousel">
    <div class="wrap">
      <div class="item" style='background-image: url("/assets/img/federal_bank.jpg")'>
        <div class="cent-text">
          <h3>Bank robbery</h3>
          <p>It's time to team up and see if you can escape with the money!</p>
          <a>COMING SOON</a>
        </div>
      </div>
      <div class="item" style='background-image: url("/assets/img/russian_bunker.jpg")'>
        <div class="cent-text">
          <h3>Russian Bunker</h3>
          <p>Race against the clock in the underground bunker! Can you escape the room?</p>
          <a>COMING SOON</a>
        </div>
      </div>
      <div class="item" style='background-image: url("/assets/img/western_escape.jpg")'>
        <div class="cent-text">
          <h3>Bank robbery</h3>
          <p>Can you and your gang work together to escape the room?</p>
          <a>COMING SOON</a>
        </div>
      </div>
      <div class="item" style='background-image: url("/assets/img/game_board_escape.jpg")'>
        <div class="cent-text">
          <h3>Game Board</h3>
          <p>It's like every game you've ever played—only this time, you have to escape!</p>
          <a>COMING SOON</a>
        </div>
      </div>
    </div>
    <div class="dots-contain">
      <div class="dots">
        <div class="dot cur"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
    <div class="left-arrow">
      <img class="left-arr" src="/assets/img/escape-arrow.svg">
    </div>
    <div class="right-arrow">
      <img class="right-arr" src="/assets/img/escape-arrow.svg">
    </div>
  </div>
  <!--
  <div class="cent-text">
      <h3>Bank robbery</h3>
      <p>Lorem ipsum dolor sit amet elit, vabiscum consectetur adipiscing Lorem ipsum dolor sit amet elit.</p>
      <a href="">COMING SOON</a>
  </div>
  -->
</div>

<div class="block-loc brown" [ngClass]="{'d-none': isDisplayed}">
  <p class="loc-one">Nearest park to your location</p>
  <p class="loc-name loc-two" link="/"><img src="/assets/img/loc-icon.png">Vista, California</p>
  <p class="loc-three">
    <img src="/assets/img/loc-icon.png">
    <span id="click-find">Find your park</span>
  </p>
  <p class="loc-four"><img src="/assets/img/loc-icon.png">Please, allow to use your location</p>
</div>

<app-all-locations [bgColor]="'brown'" [ngClass]="{'d-none': isDisplayed}"></app-all-locations>

<div class="block-escs">
  <div class="esc">
    <img class="col-md-6" src="/assets/img/esc1.jpg">
    <div class="col-md-6 esc-content">
      <h3>Federal</h3>
      <h1>Bank Robbery</h1>
      <p>You'll need cunning determination and a few friends to see if you can break out of the bank with the money! Put your smarts to the test to see if you can beat the system and walk away scot free!</p>
      <a class="sec-link">Coming soon!</a>
    </div>
  </div>
  <div class="esc">
    <img class="col-md-6" src="/assets/img/esc2.jpg">
    <div class="col-md-6 esc-content">
      <h3>Russian</h3>
      <h1>Bunker Escape</h1>
      <p>Race against the clock in a thrilling fight for your life! See what life is like in an underground bunker and use your best wit and teamwork to find a way to escape the room!</p>
      <a class="sec-link">Coming soon!</a>
    </div>
  </div>
  <div class="esc">
    <img class="col-md-6" src="/assets/img/esc3.jpg">
    <div class="col-md-6 esc-content">
      <h1>Western Escape</h1>
      <p>Who's the biggest, baddest, smartest gunslinger this side of the railroad tracks? You and your gang is sure to find out in this Western-themed escape room! So team up, put your minds to the grindstone, and see if you can find your way out!</p>
      <a class="sec-link">Coming soon!</a>
    </div>
  </div>
  <div class="esc">
    <img class="col-md-6" src="/assets/img/esc4.jpg">
    <div class="col-md-6 esc-content">
      <h1>Gameboard Escape</h1>
      <p>Every game requires strategy, decisiveness, knowledge, and a little bit of luck—and this game is no different! Put your teamwork to the test in this riddling escape room!</p>
      <a class="sec-link">Coming soon!</a>
    </div>
  </div>
  <div style="clear: both"></div>
</div>
<div class="block-rules brown">
  <h3>Rules & Safety</h3>
  <p>For your safety and others, Adrenaline Entertainment Centers asks you to follow these rules when participating in our escape room games.</p>
</div>
<div class="block-all-rules brown">
  <div class="all-rules--green">
    <img src="/assets/img/all-rulles-arrow.png">
    <p>Read all rulles</p>
  </div>
  <div class="all-rules--contents">
    <div class="container">
      <ol>
        <li>You have 60 minutes to escape the room. All necessary clues and puzzles to escape the room are within the room itself. </li>
        <li>Please use your creativity, critical thinking, and teamwork to solve the clues and puzzles. Do not use physical force to solve any clues or puzzles. All puzzles and clues can be solved with creativity, critical thinking, and teamwork. </li>
        <li>Please do not take objects or souvenirs from the room. These objects are required for future participants. </li>
        <li>Please do not bring alcohol or come to our escape rooms while under the influence of another substance. </li>
        <li>We will monitor the room at all times with security cameras to ensure safety and fair play of our participants. </li>
        <li>Please do not take pictures or videos while in the room. </li>
        <li>Please do not copy ideas, clues, puzzles, or room designs that you see while participating in one of our rooms. </li>
        <li>With your consent, we will ask to take a picture of you and your group after you have participated in the room so that we can share your experiences on social media. All participants have the right to refuse this option. </li>
        <li>Participants enter our escape rooms under their own risk. Adrenaline Rush will not be held liable. </li>
        <li>In the event of an emergency, there is an unlocked door that necessitates swift exit or entry. </li>
        <li>Participants may be asked to leave if their actions are deemed unsafe or inappropriate, so please follow the rules outlined above</li>
      </ol>
    </div>
  </div>
</div>
<div class="block-escape-add">
  <h1>Team-building and groups</h1>
  <div class="container">
    <div class="col-md-6 escape-add--text">
      <p>Maybe you're looking for a fun team-building activity, maybe you're looking for a fun group activity, or maybe you're just looking for an exciting leisure opportunity. Whatever the case may be, our escape rooms are the perfect way to bring people closer together through adventure and obstacle.</p>
      <p>Our unique spin on this popular activity is sure to be one that you and your group will remember for years to come!
      </p>
      <a class="escape-add--link" href="">Contact us</a>
    </div>
  </div>
</div>
