<div class="block-escape">
  <div class="carousel">
    <div class="wrap">
      <div class="item" style='background-image: url("/assets/img/escape.png")'>
        <div class="cent-text">
          <h3>Bank robbery</h3>
          <p>Lorem ipsum dolor sit amet elit, vabiscum consectetur adipiscing Lorem ipsum dolor sit amet
            elit.</p>
          <a href="">I’m ready</a>
        </div>
      </div>
      <div class="item" style='background-image: url("/assets/img/escape.png")'>
        <div class="cent-text">
          <h3>Bank robbery</h3>
          <p>Lorem ipsum dolor sit amet elit, vabiscum consectetur adipiscing Lorem ipsum dolor sit amet
            elit.</p>
          <a href="">I’m ready</a>
        </div>
      </div>
      <div class="item" style='background-image: url("/assets/img/escape.png")'>
        <div class="cent-text">
          <h3>Bank robbery</h3>
          <p>Lorem ipsum dolor sit amet elit, vabiscum consectetur adipiscing Lorem ipsum dolor sit amet
            elit.</p>
          <a href="">I’m ready</a>
        </div>
      </div>
    </div>
    <div class="dots-contain">
      <div class="dots">
        <div class="dot cur"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
    <div class="left-arrow">
      <img class="left-arr" src="/assets/img/escape-arrow.svg">
    </div>
    <div class="right-arrow">
      <img class="right-arr" src="/assets/img/escape-arrow.svg">
    </div>
  </div>
  <!--
  <div class="cent-text">
      <h3>Bank robbery</h3>
      <p>Lorem ipsum dolor sit amet elit, vabiscum consectetur adipiscing Lorem ipsum dolor sit amet elit.</p>
      <a href="">I’m ready</a>
  </div>
  -->
</div>

<div class="block-loc brown">
  <p class="loc-one">Nearest park to your location</p>
  <p class="loc-name loc-two" link="/"><img src="/assets/img/loc-icon.png">Vista, California</p>
  <p class="loc-three">
    <img src="/assets/img/loc-icon.png">
    <span id="click-find">Find your park</span>
    <!--
    <span class="loc-zip">
        Input your zip
        <input class="input-zip" list="zip" maxlength="5">
        <datalist id="zip">
            <option>90001</option>
            <option>90002</option>
            <option>90003</option>
            <option>90004</option>
            <option>90005</option>
            <option>90006</option>
        </datalist>
    </span>
    <span class="loc-city">
        or city
        <input class="input-city" list="city" maxlength="25">
        <datalist id="city">
            <option>Vista</option>
            <option>New Jersey</option>
            <option>New York</option>
            <option>Boston</option>
            <option>Memphis</option>
        </datalist>
    </span>
    <button class="button-find">Find</button>
    -->
  </p>
  <p class="loc-four"><img src="/assets/img/loc-icon.png">Please, allow to use your location</p>
</div>

<app-all-locations [bgColor]="'brown'"></app-all-locations>

<div class="block-escs">
  <div class="esc">
    <img class="col-md-6" src="/assets/img/esc1.png">
    <div class="col-md-6 esc-content">
      <h1>Bank Robbery</h1>
      <p>Sed in augue minim suscipit. Ipsum libris labitur qui eu, aliquid menandri adversarium nam et, ius quot
        reprimique eu. Autem partem populo eu eam, ex mea elitr soleat accusam, te cum soleat graece.</p>
      <p>Nam ei vide dolorum, vel illud ponderum iracundia ea, vim choro clita ignota ad. Est quot elaboraret
        an.</p>
      <a class="sec-link">Sign me in!</a>
    </div>
  </div>
  <div class="esc">
    <img class="col-md-6" src="/assets/img/esc2.png">
    <div class="col-md-6 esc-content">
      <h3>Russian</h3>
      <h1>Bank Robbery</h1>
      <p>Sed in augue minim suscipit. Ipsum libris labitur qui eu, aliquid menandri adversarium nam et, ius quot
        reprimique eu. Autem partem populo eu eam, ex mea elitr soleat accusam, te cum soleat graece.</p>
      <p>Nam ei vide dolorum, vel illud ponderum iracundia ea, vim choro clita ignota ad. Est quot elaboraret
        an.</p>
      <a class="sec-link">Sign me in!</a>
    </div>
  </div>
  <div class="esc">
    <img class="col-md-6" src="/assets/img/esc3.png">
    <div class="col-md-6 esc-content">
      <h1>Bank Robbery</h1>
      <p>Sed in augue minim suscipit. Ipsum libris labitur qui eu, aliquid menandri adversarium nam et, ius quot
        reprimique eu. Autem partem populo eu eam, ex mea elitr soleat accusam, te cum soleat graece.</p>
      <p>Nam ei vide dolorum, vel illud ponderum iracundia ea, vim choro clita ignota ad. Est quot elaboraret
        an.</p>
      <a class="sec-link">Sign me in!</a>
    </div>
  </div>
  <div class="esc">
    <img class="col-md-6" src="/assets/img/esc4.png">
    <div class="col-md-6 esc-content">
      <h1>Bank Robbery</h1>
      <p>Sed in augue minim suscipit. Ipsum libris labitur qui eu, aliquid menandri adversarium nam et, ius quot
        reprimique eu. Autem partem populo eu eam, ex mea elitr soleat accusam, te cum soleat graece.</p>
      <p>Nam ei vide dolorum, vel illud ponderum iracundia ea, vim choro clita ignota ad. Est quot elaboraret
        an.</p>
      <a class="sec-link">Sign me in!</a>
    </div>
  </div>
  <div class="esc">
    <img class="col-md-6" src="/assets/img/esc5.png">
    <div class="col-md-6 esc-content">
      <h1>Bank Robbery</h1>
      <p>Sed in augue minim suscipit. Ipsum libris labitur qui eu, aliquid menandri adversarium nam et, ius quot
        reprimique eu. Autem partem populo eu eam, ex mea elitr soleat accusam, te cum soleat graece.</p>
      <p>Nam ei vide dolorum, vel illud ponderum iracundia ea, vim choro clita ignota ad. Est quot elaboraret
        an.</p>
      <a class="sec-link">Sign me in!</a>
    </div>
  </div>
  <div style="clear: both"></div>
</div>
<div class="block-rules brown">
  <h3>Rules & Safety</h3>
  <p>Oratio intellegebat pri ad. Laudem menandri theophrastus cu per, no noster iisque sed. No sit
    feugiat delenit accusam, ad perpetua efficiantur mel. Sale petentium qui te, sed adhuc mollis te, ea graeci
    intellegam eum. Antiopam suscipiantur at duo.</p>
</div>
<div class="block-all-rules brown">
  <div class="all-rules--green">
    <img src="/assets/img/all-rulles-arrow.png">
    <p>Read all rulles</p>
  </div>
  <div class="all-rules--contents">
    <div class="container">
      <ol>
        <li>You have 60 minutes to escape the room. All necessary clues and puzzles to escape the room are within the room itself. </li>
        <li>Please use your creativity, critical thinking, and teamwork to solve the clues and puzzles. Do not use physical force to solve any clues or puzzles. All puzzles and clues can be solved with creativity, critical thinking, and teamwork. </li>
        <li>Please do not take objects or souvenirs from the room. These objects are required for future participants. </li>
        <li>Please do not bring alcohol or come to our escape rooms while under the influence of another substance. </li>
        <li>We will monitor the room at all times with security cameras to ensure safety and fair play of our participants. </li>
        <li>Please do not take pictures or videos while in the room. </li>
        <li>Please do not copy ideas, clues, puzzles, or room designs that you see while participating in one of our rooms. </li>
        <li>With your consent, we will ask to take a picture of you and your group after you have participated in the room so that we can share your experiences on social media. All participants have the right to refuse this option. </li>
        <li>Participants enter our escape rooms under their own risk. Adrenaline Rush will not be held liable. </li>
        <li>In the event of an emergency, there is an unlocked door that necessitates swift exit or entry. </li>
        <li>Participants may be asked to leave if their actions are deemed unsafe or inappropriate, so please follow the rules outlined above</li>
      </ol>
    </div>
  </div>
</div>
<div class="block-escape-add">
  <h1>Team-building and groups</h1>
  <div class="container">
    <div class="col-md-6 escape-add--text">
      <p>Maybe you’re looking for a fun team-building activity, maybe you’re looking for a fun group activity, or maybe you’re just looking for an exciting leisure opportunity. Whatever the case may be, our escape rooms are the perfect way to bring people closer together through adventure and obstacle.</p>
      <p>Our unique spin on this popular activity is sure to be one that you and your group will remember for years to come!
      </p>
      <a class="escape-add--link" href="">Contact us</a>
    </div>
  </div>
</div>
