<div class="block-all-loc {{bgColor}}">
  <div class="all-loc--green">
    <img src="/assets/img/all-loc-arrow.png">
    <p>All locations</p>
  </div>
  <div class="all-loc--contents ">
    <div class="container">
      <div class="row justify-content-center">
        <div *ngFor="let loc of listOfLocations" class="col-md-auto location_block">
          <p class="loc-name" (click)="initService.setLink(loc.link.url)">{{loc.name}}</p>
          <p class="loc-addr"><img src="/assets/img/icon-loc.png"> <span *ngIf="loc.info">{{loc.info.address_street}},
          {{loc.name}} {{loc.info.address_zip}}</span></p>
          <p class="loc-phone" ><img src="/assets/img/icon-phone.png"><span *ngIf="loc.info">{{loc.info.phone}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
