<div class="block-all-loc {{bgColor}}">
  <div class="all-loc--green">
    <img src="/assets/img/all-loc-arrow.png">
    <p>All locations</p>
  </div>
  <div class="all-loc--contents ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-auto location_block">
          <p class="loc-name" link="/lake-worth">LAKE WORTH, FL</p>
          <p class="loc-addr"><img src="/assets/img/icon-loc.png"> 7645 Lake Worth Rd, Lake Worth, FL 33467</p>
          <p class="loc-phone"><img src="/assets/img/icon-phone.png">(561) 440-1400</p>
        </div>
        <div class="col-md-auto location_block">
          <p class="loc-name" link="/york">YORK, PA</p>
          <p class="loc-addr"><img src="/assets/img/icon-loc.png">2150 White St, York, PA 17404</p>
          <p class="loc-phone"><img src="/assets/img/icon-phone.png">(717) 316-0300</p>
        </div>
        <div class="col-md-auto location_block">
          <p class="loc-name" link="/cincinnati">CINCINNATI, OH</p>
          <p class="loc-addr"><img src="/assets/img/icon-loc.png">4786 Fields Ertel Rd, Cincinnati, OH 45249</p>
          <p class="loc-phone"><img src="/assets/img/icon-phone.png">(513) 816-0004</p>
        </div>
        <div class="col-md-auto location_block">
          <p class="loc-name" link="/columbia">COLUMBIA, SC</p>
          <p class="loc-addr"><img src="/assets/img/icon-loc.png">7451 Garner Ferry Rd, Columbia, SC 29209</p>
          <p class="loc-phone"><img src="/assets/img/icon-phone.png">(803) 560-6600</p>
        </div>
        <div class="col-md-auto location_block">
          <p class="loc-name" link="/lexington">LEXINGTON, KY</p>
          <p class="loc-addr"><img src="/assets/img/icon-loc.png">1937 Star Shoot Pkwy, Lexington, KY 40509</p>
          <p class="loc-phone"><img src="/assets/img/icon-phone.png">123-456-7890</p>
        </div>
      </div>
    </div>
  </div>
</div>
