<section class="block-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm col-lg-6 a-desc_slider">
            <div class="row justify-content-end">
              <div class="col col-lg-9 p-0">
                <h1>Gallery</h1>
                <p>At adrenaline, it’s not just about the trampolines, it’s about all of the amazing things that you can do.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="block-black">
  <div class="container">
    <div id="by-pass-block" class="row justify-content-center">
      <div class="col-sm-12 a-desc_slider_button">
        <h1>READY TO HAVE FUN?</h1>
        <button *ngIf="this.service.allLinksCenteredge_waiver[this.activeLocationId]" type="button" class="btn btn-outline-success btn-block" style="max-width: 360px"><a  target="_blank" href="{{this.service.allLinksCenteredge_waiver[this.activeLocationId].url}}">BUY A PASS</a></button>
      </div>
    </div>
  </div>
</section>
<section id="gallery-block">
  <div class="container">
    <div class="row">

      <div *ngFor="let item of galleryItems" class="col-lg-4 col-md-6">
        <div class = "card bg-transparent">
          <img class="card-img-top" [src]="item.img_url" alt="image">
          <div class="card-body">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
