
<!--<app-slider2 [activePane]="isLeftVisible==0 ? 'trampoline' : isLeftVisible==1 ? 'escape': 'virtual'" class="mob_slider">-->

  <!--<div trampolinePane class="block-one">-->

    <!--<div class="container">-->
      <!--<div class="desc_slider">-->
        <!--<h3>come visit our</h3>-->
        <!--<h1>Trampoline Park</h1>-->
        <!--<button type="button" routerLink="/{{activeLocationId}}/trampoline-park/">I'm ready</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="block-two" [ngClass]="{'d-none': isEscapeRoomDisplayed}" escapePane>-->
    <!--<div class="container">-->
      <!--<div class="desc_slider gold">-->
        <!--<h3>come visit our</h3>-->
        <!--<h1>Escape Rooms</h1>-->
        <!--<button type="button">Coming Soon</button>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
  <!--<div class="block-three" [ngClass]="{'d-none': isDisplayed}" virtualPane>-->
    <!--<div class="container">-->
      <!--<div class="desc_slider gold">-->
        <!--<h3>come visit our</h3>-->
        <!--<h1>VR Rooms</h1>-->
        <!--<button type="button">I'm ready</button>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->

<!--</app-slider2>-->

<ul id="slides">
  <li class="slide showing" *ngIf="availableSlides.indexOf('trampoline') !== -1">
    <div trampolinePane class="block-one">
      <div class="container">
        <div class="desc_slider">
          <h3>come visit our</h3>
          <h1>Trampoline Park</h1>
          <button type="button" routerLink="/{{activeLocationId}}/trampoline-park/">I'm ready</button>
        </div>
      </div>
    </div>
  </li>

  <li class="slide" *ngIf="availableSlides.indexOf('escape') !== -1">
    <div class="block-two" escapePane>
      <div class="container">
        <div class="desc_slider gold">
          <h3>come visit our</h3>
          <h1>Escape Rooms</h1>
          <button type="button" routerLink="/{{activeLocationId}}/trampoline-park/">Coming Soon</button>
        </div>
      </div>
    </div>
  </li>

  <li class="slide" *ngIf="availableSlides.indexOf('vr') !== -1">
    <div class="block-three" virtualPane>
      <div class="container">
        <div class="desc_slider gold">
          <h3>come visit our</h3>
          <h1>VR Rooms</h1>
          <button type="button" routerLink="/{{activeLocationId}}/trampoline-park/">Coming Soon</button>
        </div>
      </div>
    </div>
  </li>
</ul>

<div id="homepage-gaiety" class="homepage-gaiety  ">
  <div id="homepage-block-blackout" class="homepage-block-blackout pv-40">

    <div class="container h-100">

      <div class="row h-100 justify-content-center" id="buttonSlides">

        <div class="gaiety-button my-auto col-3 buttonSlide green-light" id="but_trampoline" *ngIf="availableSlides.indexOf('trampoline') !== -1"
              (click)="setSlide(0);" >
          <div class="img_main img_homepage_trampoline"></div>
          <p class="homepage-gaiety-button-text">trampoline<br>park</p>
        </div>

        <div class="gaiety-button my-auto col-3 buttonSlide" id="but_escape" *ngIf="availableSlides.indexOf('escape') !== -1"
              (click)="setSlide(1);" >
          <div class="img_main img_homepage_escape"></div>
          <p class="homepage-gaiety-button-text">escape<br>rooms</p>
        </div>

        <div class="gaiety-button my-auto col-3 buttonSlide" id="but_virtual" *ngIf="availableSlides.indexOf('vr') !== -1"
              (click)="setSlide(2);" >
          <div class="img_main img_homepage_virtual"></div>
          <p class="homepage-gaiety-button-text">virtual<br>reality</p>
        </div>

      </div>

    </div>

  </div>
</div>
<section class="homepage-locations-blue pv-40">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4">
        <div class="row justify-content-between align-items-center h-100">
          <div class="col-12">
            <h2 class="green_up text-center">Open Hours</h2>
            <ul  class="list-unstyled open_hours text-uppercase">

              <div *ngFor="let hour of this.service.locationHours[this.activeLocationId]" class="wrap-li" >
                <li class=" cus-lft ">{{hour.label}}</li>
                <li class=" cus-rght txt_col ">{{hour.time_start}} - {{hour.time_end}}</li>
              </div>
              <div *ngIf="(this.service.locationHours[this.activeLocationId] == 0)" >
                <h3 class="text-center">COMING SOON</h3>
              </div>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h2 class="green_up text-center">Planning for a group?</h2>
        <button *ngIf="this.service.contactInfoOfFooter[this.activeLocationId]" class="btn btn-outline-success btn-block mb-20 btn-sm" style="max-width: 360px;margin: 0 auto;border:2px solid rgb(146, 221, 2);" type="button">
          <a style="display:block;" href="tel:{{this.service.contactInfoOfFooter[this.activeLocationId].phone}}" > Call {{this.service.contactInfoOfFooter[this.activeLocationId].phone}}</a>
        </button>
        <!-- <h3 *ngIf="this.service.contactInfoOfFooter[this.activeLocationId]" class="green_up text-center" >Call us right now: {{this.service.contactInfoOfFooter[this.activeLocationId].phone}}</h3> -->
        <p *ngIf="this.service.contactInfoOfFooter[this.activeLocationId]" class="mt-20">{{this.service.contactInfoOfFooter[this.activeLocationId].description}}</p>
      </div>
    </div>
  </div>
</section>
<section *ngIf="false" class="homepage-locations-dark pv-80">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="green_up">Instant Coupons?</h1>
        <h2 class="text-uppercase">Receive 10% off your next party</h2>
        <a class="green_up btn mt-80 theme_a_btn" href="/">Sing UP</a>
      </div>
    </div>
  </div>
</section>
