<section class="about-block-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm col-lg-6 a-desc_slider-2">
            <div class="row justify-content-end">
              <div class="col col-lg-9 p-0">
                <h1>About Adrenaline</h1>
                <p>Adventure, safety, innovation, customer service, awesome facilities, and epic events—these are the tenets of the Adrenaline experience.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-block-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <img src="../../../../assets/img/locations-about/safety.png"/>
        <h3>SAFETY<br>YOU CAN TRUST</h3>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <p>
              We know how to keep our jumpers safe. Our equipment is sound and padded for protection.
              We also run a smooth program, so we know how to hold everyone to the safety rules.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <img src="../../../../assets/img/locations-about/incredible.png"/>
        <h3>INCREDIBLE<br>FACILITIES</h3>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <p>
              With multiple establishments, you are sure to have one of the world's premier trampoline parks near you.
              Adrenaline is fun for all ages! With brand new facilities and custom-designed trampoline parks.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <img src="../../../../assets/img/locations-about/value.png"/>
        <h3>WE VALUE<br>EVERY VISITOR</h3>
        <div class="row justify-content-center">
          <div class="col-md-12 mb-0">
            <p>
              When you're with us, you can count on our Adrenaline team to make sure your visit is everything that it should be.
              Whether we're organizing your party, hosting a contest, you can count on our staff to come through for you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-block-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>
          About adrenaline
        </h1>
        <p>It doesn't matter who you are—a lone individual, a child in a party of ten, a business executive looking to host a corporate teambuilding event, a parent, or a friend—we value every customer the same, and put every customer first. At Adrenaline, our commitment to excellence ensures every participant has a fun, safe, and memorable experience that they'll always cherish. That's our guarantee. So hop on down, bring a friend, and get ready for an epic adventure!</p>
      </div>
    </div>
  </div>
</section>

<section class="about-block-black">
  <div class="container">
    <div id="by-pass-block" class="row justify-content-center">
      <div class="col-sm-12 a-desc_slider_button">
        <h1>Custom Birthday parties!</h1>
        <button type="button" class="btn btn-outline-success btn-block" style="max-width: 360px" routerLink="../../{{activeLocationId}}/trampoline-park/birthday-parties/" routerLinkActive="active" target="_blank">Book now</button>
      </div>
    </div>
  </div>
</section>



