<section class="about-block-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm col-lg-6 a-desc_slider-2">
            <div class="row justify-content-end">
              <div class="col col-lg-9 p-0">
                <h1>About adrenaline</h1>
                <p>Ipsum dicta consequuntur has ad, ea eum congue urbanitas Ipsum dicta consequuntur has ad, ea eum congue urbanitas.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-block-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <img src="../../../../assets/img/locations-about/safety.png"/>
        <h3>SAFETY<br>YOU CAN TRUST</h3>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <p>
              We know how to keep our jumpers safe. Our equipment is sound and padded for protection.
              We also run a smooth program, so we know how to hold everyone to the safety rules.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <img src="../../../../assets/img/locations-about/incredible.png"/>
        <h3>INCREDIBLE<br>FACILITIES</h3>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <p>
              With multiple establishments, you are sure to have one of the world’s premier trampoline parks near you.
              Adrenaline is fun for all ages! With brand new facilities and custom-designed trampoline parks.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <img src="../../../../assets/img/locations-about/value.png"/>
        <h3>WE VALUE<br>EVERY VISITOR</h3>
        <div class="row justify-content-center">
          <div class="col-md-12 mb-0">
            <p>
              When you’re with us, you can count on our Adrenaline team to make sure your visit is everything that it should be.
              Whether we’re organizing your party, hosting a contest, you can count on our staff to come through for you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-block-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>
          About adrenaline
        </h1>
        <p>
          Ipsum dicta consequuntur has ad, ea eum congue urbanitas. Melius meliore dissentias sea cu.
          Id sonet congue mediocrem vel. Eu nec alii senserit, per rebum audire assentior ad, te vel soluta saperet conceptam.
          Mea persius corpora tacimates ei. Eum te senserit contentiones definitionem, quot iudico eu vel, sonet elitr vix cu.
          Et adhuc utamur mei, ex veniam nullam pri, ut quidam singulis salutatus mel.
        </p>
        <p>
          Sed in augue minim suscipit. Ipsum libris labitur qui eu, aliquid menandri adversarium nam et, ius quot reprimique eu.
          Autem partem populo eu eam, ex mea elitr soleat accusam, te cum soleat graece. Nam ei vide dolorum, vel illud ponderum iracundia ea,
          vim choro clita ignota ad. Est quot elaboraret an. Ut affert expetenda pro, saperet reprehendunt vituperatoribus in mei,
          ut nec omnium facilis vivendo.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="about-block-black">
  <div class="container">
    <div id="by-pass-block" class="row justify-content-center">
      <div class="col-sm-12 a-desc_slider_button">
        <h1>LOREM DOLOR CONSECTETUER</h1>
        <button type="button" class="btn btn-outline-success btn-block" style="max-width: 360px">BUY A PASS</button>
      </div>
    </div>
  </div>
</section>



