<section class="block-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm col-lg-6 waiver-desc_slider">
            <div class="row justify-content-end">
              <div class="col col-lg-9 p-0">
                <h1>activities</h1>
                <p>At adrenaline, it’s not just about the trampolines, it’s about all of the amazing things that you can do.
                  When you’re here, you choose your own adventure.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="block-black pv-80">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 waiver-desc_slider_button">
        <h1>Ready to play?</h1>
        <button type="button" class="btn btn-outline-success btn-block" style="max-width: 360px"><a *ngIf="this.service.allLinksCenteredge_waiver[this.service.activeLocationId]" target="_blank" href="{{this.service.allLinksCenteredge_waiver[this.service.activeLocationId].url}}">BUY A PASS</a></button>
      </div>
    </div>
  </div>
</section>
<section id="activities-gallery-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class = "card bg-transparent">
          <img class="card-img-top" src="../../../../assets/img/activities-gallery.png" alt="image">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h5 class="card-title">extreme dadgeball</h5>
                <p class = "card-text">
                  Ipsum dicta consequuntur has ad, ea eum congue urbanitas. Melius meliore dissentias.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class = "card bg-transparent">
          <img class="card-img-top" src="../../../../assets/img/activities-gallery.png" alt="image">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h5 class="card-title">foam pit</h5>
                <p class = "card-text">
                  Ipsum dicta consequuntur has ad, ea eum congue urbanitas. Melius meliore dissentias.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class = "card bg-transparent">
          <img class="card-img-top" src="../../../../assets/img/activities-gallery.png" alt="image">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h5 class="card-title">performance trampolines</h5>
                <p class = "card-text">
                  Ipsum dicta consequuntur has ad, ea eum congue urbanitas. Melius meliore dissentias.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class = "card bg-transparent">
          <img class="card-img-top" src="../../../../assets/img/activities-gallery.png" alt="image">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h5 class="card-title">trapeze</h5>
                <p class = "card-text">
                  Ipsum dicta consequuntur has ad, ea eum congue urbanitas. Melius meliore dissentias.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class = "card bg-transparent">
          <img class="card-img-top" src="../../../../assets/img/activities-gallery.png" alt="image">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h5 class="card-title">foam pit</h5>
                <p class = "card-text">
                  Ipsum dicta consequuntur has ad, ea eum congue urbanitas. Melius meliore dissentias.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class = "card bg-transparent">
          <img class="card-img-top" src="../../../../assets/img/activities-gallery.png" alt="image">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h5 class="card-title">performance trampolines</h5>
                <p class = "card-text">
                  Ipsum dicta consequuntur has ad, ea eum congue urbanitas. Melius meliore dissentias.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class = "card bg-transparent">
          <img class="card-img-top" src="../../../../assets/img/activities-gallery.png" alt="image">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h5 class="card-title">gymnastic tumble tracks</h5>
                <p class = "card-text">
                  Ipsum dicta consequuntur has ad, ea eum congue urbanitas. Melius meliore dissentias.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class = "card bg-transparent">
          <img class="card-img-top" src="../../../../assets/img/activities-gallery.png" alt="image">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h5 class="card-title">trampoline basketball</h5>
                <p class = "card-text">
                  Ipsum dicta consequuntur has ad, ea eum congue urbanitas. Melius meliore dissentias.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



