<section class="about-block-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm col-lg-6 a-desc_slider-2">
            <div class="row justify-content-end">
              <div class="col col-lg-9 p-0">
                <h1>rules & safety</h1>
                <p>YOUR SAFETY IS OUR PRIMARY CONCERN.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-block-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <img src="../../../../assets/img/locations-about/safety.png"/>
        <h3>SAFETY<br>YOU CAN TRUST</h3>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <p>We take every measure to ensure that you not only have a fun time, but that you have a safe time. Our detailed safety policies and procedures, spearheaded by our professionally trained staff ensure that no matter the activity, your safety is always priority #1.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <img src="../../../../assets/img/locations-about/incredible.png"/>
        <h3>INCREDIBLE<br>FACILITIES</h3>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <p>Adrenaline's many state-of-the-art facilities and professional grade trampolines are the real secret to giving customers an experience that they'll never forget!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <img src="../../../../assets/img/locations-about/value.png"/>
        <h3>WE VALUE<br>EVERY VISITOR</h3>
        <div class="row justify-content-center">
          <div class="col-md-12 mb-0">
            <p>Whether you're a kid or an adult, with a group of friends or alone, or coming for a special event or just a few hours of fun, our exceptional customer service is sure to leave you impresse</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="rules-block-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>WHO CAN JUMP</h1>
        <ol>
          <li>
            Every person who jumps on our trampolines must first provide a valid/signed Adrenaline Trampoline Park waiver.
          </li>
          <li>
            Those under 18 must have the waiver signed by their parent or legal guardian.
          </li>
          <li>
            No one under the influence of drugs or alcohol is permitted on the trampolines.
          </li>
          <li>
            Do not jump if you are pregnant or have other health limitations.
          </li>
        </ol>

        <h1>LISTEN TO OUR MONITORS</h1>
        <p>
          Our court monitors are here to keep you safe, they are like our lifeguards. Our monitors go through many days of comprehensive training to spot accidents before they happen and react properly in case of emergencies. If they ask you to do something, listen to them! Remember, fun and safety go hand-in-hand.
        </p>

        <h1>JUMPING RULES</h1>
        <p>
          All guests must follow our jumping rules and any rules they see posted on the walls at the park. Jump responsibly, and have fun!
        </p>
        <ol>
          <li>
            Jump within your ability.
          </li>
          <li>
            Customers may not sit or lie on the trampolines. Exit the trampolines if you need to rest.
          </li>
          <li>
            Pushing, wrestling, tackling, running, racing, playing tag, and horseplay of any kind is strictly forbidden.
          </li>
          <li>
            Customers may not touch, climb, lean, or hang on to any of the top pads or netting inside the trampoline areas.
          </li>
          <li>
            Always jump and land on two feet and never jump or land on the padding. Never land on your head.
          </li>
          <li>
            If you're falling, try to bring your arms, legs, and head into a ball position.
          </li>
          <li>
            Only one person is allowed per jumping surface.
          </li>
          <li>
            Double bouncing is strictly prohibited.
          </li>
          <li>
            No double flips or flips or tricks over the pads. Single flips are permitted but no more than 2 in a row.
          </li>
          <li>
            Customers can bounce and flip off the sidewalls, but they must land on the first sidewall-adjoining trampoline.
          </li>
          <li>
            Customers must be in control of their body at all times.
          </li>
          <li>
            Spitting and profanity are prohibited.
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="about-block-black">
  <div class="container">
    <div id="by-pass-block" class="row justify-content-center">
      <div class="col-sm-12 a-desc_slider_button">
        <h1>SAVE TIME, SIGN ONLINE</h1>
        <button *ngIf="this.service.allLinksCenteredge_waiver[this.activeLocationId]" (click)="goToWaiver()" type="button" class="btn btn-outline-success btn-block" style="max-width: 360px">sign a waiver</button>
      </div>
    </div>
  </div>
</section>
