<section class="pass-block-1">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm col-lg-6 waiver-desc_slider ">
            <h3 class="text-uppercase text_white_n">Come visit us at</h3>
            <h1 class="green_up text-center">{{this.service.getActiveLocationTitle()}}</h1>
            <a class="green_up btn mt-30 theme_a_btn btn_pad" href="/">Buy a pass</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pass-block-2">
  <div class="container">
    <div class="row r1">
      <div class="col-lg-6">
        <h1 class="green_up">The fun starts here</h1>
        <p>
          Your Adrenaline fun starts when you purchase your passes! After you purchase our one-hour pass, you receive a discount for any
          additional hours that you may want to spend in the park.
          Buy a pass today and get ready for your jumping experience.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 align-items-center">
        <div class="row justify-content-center rec ">
          <div *ngIf="this.one_hour" class="col-12>">
            <h5>${{this.one_hour[0].price}}</h5>
          </div>
        </div>
        <div class="row person">
          <div class="col-12">
            one hour
          </div>
        </div>
      </div>
      <div class="col-sm-4 align-items-center">
        <div class="row justify-content-center rec ">
          <div *ngIf="this.two_hours" class="col-12>">
            <h5>${{this.two_hours[0].price}}</h5>
          </div>
        </div>
        <div class="row person">
          <div class="col-12">
            two hours
          </div>
        </div>
      </div>
      <div class="col-sm-4 align-items-center">
        <div class="row justify-content-center rec ">
          <div *ngIf="this.a6_under" class="col-12>">
            <h5>${{this.a6_under[0].price}}</h5>
          </div>
        </div>
        <div class="row person">
          <div class="col-12">
            6 & under
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-4  align-items-center">
        <div class="row justify-content-center rec_green_small">
          <div class="col-12>">
            <h5>$4</h5>
          </div>
        </div>
        <div class="row person_small">
          <div class="col-12">
            crew socks
          </div>
        </div>
      </div>
      <div class="col-sm-4  align-items-center">
        <div class="row justify-content-center rec_green_small">
          <div class="col-12>">
            <h5>$2</h5>
          </div>
        </div>
        <div class="row person_small">
          <div class="col-12">
            unkel socks
          </div>
        </div>
      </div>
    </div>
    <div class="row group-button">
      <div class="col-12 text-center">
        <p  class="text-muted fs_12">Jumpers are required to wear Altitude Trampoline Socks for sanitation and safety purposes. You are also allowed to reuse your socks.</p>
      </div>
    </div>
  </div>
</section>
<section class="homepage-locations-blue5 pv-80">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="green_up">Save time, sign a waiver online</h1>
        <a class="green_up btn mt-30 theme_a_btn btn_pad" href="/">Sign a waiver</a>
      </div>

    </div>
  </div>
</section>
<section class="homepage-locations-dark4 pv-40">
  <div class="container">
    <div class="row mb-30">
      <div class="col-md-12 text-center pv-40">
        <h1 class="green_up">WEEKLY DEALS & SPECIALS</h1>
      </div>
      <div class="col-md-4 text-center align-self-center">
        <div class="block_trampolines_homepages ">
          <div class="block_trampolines_homepages_small">
            <h3 class="green_up pt-80">Toddler time</h3>
            <h4 class="text_white_norm text-uppercase ">Mon - fri: 10AM - 1PM</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center align-self-center">
        <div class="block_trampolines_homepages ">
          <div class="block_trampolines_homepages_small">
            <h3 class="green_up pt-80">Toddler time extended</h3>
            <h4 class="text_white_norm text-uppercase ">1 sun of each month: 10AM - 12PM</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center align-self-center">
        <div class="block_trampolines_homepages ">
          <div class="block_trampolines_homepages_small">
            <h3 class="green_up pt-80">Family pack</h3>
            <h4 class="text_white_norm text-uppercase ">24/7</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center align-self-center">
        <div class="block_trampolines_homepages ">
          <div class="block_trampolines_homepages_small">
            <h3 class="green_up pt-80">FRIDAY NIGHT FRENZY</h3>
            <h4 class="text_white_norm text-uppercase ">6PM - 9PM, FRIDAYS</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center align-self-center">
        <div class="block_trampolines_homepages ">
          <div class="block_trampolines_homepages_small">
            <h3 class="green_up pt-80">Teen night</h3>
            <h4 class="text_white_norm text-uppercase ">7PM - 10PM saturday</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center align-self-center">
        <div class="block_trampolines_homepages ">
          <div class="block_trampolines_homepages_small">
            <h3 class="green_up mt-20">SENSORY SUNDAY</h3>
            <h4 class="text_white_norm">1ST SUN OF EACH MONTH: 10AM - 12PM</h4>
            <p class="mt-20">For Just $10 We Provide A Quiet, Toned-down Jumping Experience</p>
            <p class="text_green_small text-uppercase mt-60">No music will be played during this time</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="homepage-locations-blue4 pv-40">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-7">
        <h1 class="green_up">Got a large Group</h1>
        <h1 class="text-uppercase text_white_n">Throw your party at Adrenaline!</h1>
        <p class="pv-30">
          Whether you’ve got a birthday, massive event, or just have a lot of friends.
          There are many variations of passages of Lorem Ipsum available,
          but the majority have suffered alteration in some form, by injected humour,
          or randomised words which don't look even slightly believable.
        </p>

        <a class="green_up btn theme_a_btn btn_pad" href="/">Check our deals</a>
      </div>
      <div class="col-md-5">
        <img src="../../../../assets/img/trampolines_homepage/girls.png" class="d-none d-sm-block girls_trampolines_homepages">
      </div>
    </div>
  </div>

</section>
