<section class="pass-block-1">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm col-lg-6 waiver-desc_slider ">
            <h3 class="text-uppercase text_white_n">Come visit us at</h3>
            <h1 class="green_up text-center">{{this.service.getActiveLocationTitle()}}</h1>
            <a *ngIf="this.service.allLinksCenteredge_tickets[this.activeLocationId]" class="green_up btn mt-30 theme_a_btn btn_pad" target="_blank" href="{{this.service.allLinksCenteredge_tickets[this.activeLocationId].url}}">Buy a pass</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pass-block-2">
  <div class="container">
    <div class="row r1">
      <div class="col-lg-6">
        <h1 class="green_up">The fun starts here</h1>
        <p>
          Your Adrenaline fun starts when you purchase your passes! After you purchase our one-hour pass, you receive a discount for any
          additional hours that you may want to spend in the park.
          Buy a pass today and get ready for your jumping experience.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 align-items-center">
        <div class="row justify-content-center rec ">
          <div *ngIf="this.service.one_hour[ this.activeLocationId ]" class="col-12>">
            <h5>${{this.service.one_hour[ this.activeLocationId ].price}}</h5>
          </div>
        </div>
        <div class="row person">
          <div class="col-12">
            one hour
          </div>
        </div>
      </div>
      <div class="col-sm-4 align-items-center">
        <div class="row justify-content-center rec ">
          <div *ngIf="this.service.two_hours[ this.activeLocationId ]" class="col-12>">
            <h5>${{this.service.two_hours[ this.activeLocationId ].price}}</h5>
          </div>
        </div>
        <div class="row person">
          <div class="col-12">
            two hours
          </div>
        </div>
      </div>
      <div class="col-sm-4 align-items-center">
        <div class="row justify-content-center rec ">
          <div *ngIf="this.service.a6_under[ this.activeLocationId ]" class="col-12>">
            <h5>${{this.service.a6_under[ this.activeLocationId ].price}}</h5>
          </div>
        </div>
        <div class="row person">
          <div class="col-12">
            6 & under
          </div>
        </div>
      </div>
    </div>
    <div class="row group-button">
      <div class="col-12 text-center">
        <p  class="text-muted fs_12">Jumpers are required to purchase $2 socks for sanitation and safety purposes. You are also allowed to reuse your socks.</p>
      </div>
    </div>
  </div>
</section>
<section class="homepage-locations-blue5 pv-80">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="green_up">Save time, sign a waiver online</h1>
        <a class="green_up btn mt-30 theme_a_btn btn_pad" *ngIf="this.service.allLinksCenteredge_waiver[this.activeLocationId]" target="_blank" href="{{this.service.allLinksCenteredge_waiver[this.activeLocationId].url}}" >Sign a waiver</a>
      </div>

    </div>
  </div>
</section>
<section class="homepage-locations-dark4 pv-40">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 text-center pv-40">
        <h1 class="green_up">WEEKLY DEALS & SPECIALS</h1>
      </div>
      <div *ngFor="let deal of this.service.locationDeals[this.service.activeLocationId]" class="col-md-4 text-center align-self-center custom-top-pad">
        <div class="block_trampolines_homepages ">
          <div class="block_trampolines_homepages_small" [ngStyle]="{'background-image':'url('+deal.deal_img+')'}">
            <h3 class="green_up pt-80">{{deal.name}}</h3>
            <h4 class="text_white_norm text-uppercase ">{{deal.values.days}}: {{deal.values.times}}</h4>
            <p *ngIf="(deal.values.deal)" class="text_white_norm" >{{deal.values.deal}}</p>
            <p *ngIf="(deal.values.toddler_price)" class="text_white_norm mb-2">Toddler price: ${{deal.values.toddler_price}}<br>Parent price: ${{deal.values.parent_price}}</p>
            <p *ngIf="(deal.values.jump_time)" class="text_white_norm mb-2">{{deal.values.jump_time}} hours for ${{deal.values.price}}</p>
            <p *ngIf="(deal.values.ages)" class="text_white_norm mb-2">Ages: {{deal.values.ages}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="homepage-locations-blue4 pv-40">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-7">
        <h1 class="green_up">Got a large Group?</h1>
        <h1 class="text-uppercase text_white_n">Throw your party at Adrenaline!</h1>
        <p class="pv-30">
         Whether it's for your or someone else, we'll help you get your idea off the ground and make sure everybody has a memorable day of fun!
        </p>

        <a class="green_up btn theme_a_btn btn_pad" routerLink="../../../{{activeLocationId}}/trampoline-park/birthday-parties/">Book now</a>
      </div>
      <div class="col-md-5">
        <img src="../../../../assets/img/trampolines_homepage/girls.png" class="d-none d-sm-block girls_trampolines_homepages">
      </div>
    </div>
  </div>
</section>
